.navbar-default{
    background: linear-gradient( black, darkblue)
    /* position: fixed; */
}

.navbar-default a{
    color: white;
}

.dropdown-menu{
    background: linear-gradient( black, darkblue);
    margin-top: -5px;
}

.dropdown-item:hover{
    background-color: gold;
}

.dropdown-menu a:hover{
    color: black;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

#autoMainMenu:hover>.dropdown-menu{
    display: block;
}

#bookMainMenu:hover>.dropdown-menu{
    display: block;
}

#sourceMainMenu:hover>.dropdown-menu{
    display: block;
}

.nav span{
    position: relative;
    padding-bottom: 5px;
    /* margin-bottom: 10px; */
    /* padding: 0; */
}

.nav span::before{
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: gold;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.nav span:hover:before{
    visibility: visible;
    left: 0;
    transform: scaleX(1);
}