<nav class="navbar navbar-default fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Sanjay's Portfolio</a>
    </div>

    <ul class="nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="onNavLinkClickHandler('home')"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>Experience</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>Project</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavLinkClickHandler('blog')"><span>Blogs</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>Education</span></a>
        </li>
       
      
      </ul>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href='#'>Home</a></li>
      <li><a href="#">About me</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Project</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Download Resume</a></li>
    </ul> -->
  </div>
</nav>
