
    <div class="row header-outer-div">
        <div class="col-md-12 header-background">

            <div class="row header-row">
                <div class="col-md-3 text-center">
                    <img src="../../assets/img/sanjay.jpg" alt="" class="img-fluid rounded-circle image">
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="profile-name">Sanjay Sai</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group portfolio-items">
                                <li class="list-group-item">Full Stack Web Developer</li>
                                <li class="list-group-item">New York, NY</li>
                            </ul>
                        
                        </div>
                        <div class="col-md-6">
                                <ul class="list-group portfolio-items">
                                        <li class="list-group-item">jaysanias@gmail.com</li>
                                        <li class="list-group-item">347-736-8068(Text only)</li>
                                </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <ul class="list-group portfolio-items">
                        <li class="list-group-item">
                            <a href="https://github.com/shachsan" target="_blank"><i class="fab fa-github"></i>
                                <span class="social-name">GITHUB</span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="https://www.linkedin.com/in/sanjay-sai/" target="_blank"><i class="fab fa-linkedin"></i>
                                <span class="social-name">LINKEDIN</span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="https://medium.com/@shachsan" target="_blank"><i class="fab fa-medium"></i>
                                <span class="social-name">MEDIUM</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
