

.profile-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 5em;
    border-bottom: 4px solid black;
    padding: 10px 0px;
    text-align: left;

}

.portfolio-items{
    text-align: left;
}

.social-name{
    margin-left: 10px;
}

.image{
    width: 200px;
    height: 230px;
}

.header-background{
    background-image: url('../../assets/img/header-img.jpg')
}

.header-row{
    width: 75%;
    background-color: aquamarine;
    text-align: center;
}