

.profile-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 5em;
    border-bottom: 4px solid black;
    padding: 10px 0px;
    text-align: left;

}

.portfolio-items{
    text-align: left;
}

.social-name{
    margin-left: 10px;
}

.image{
    width: 200px;
    height: 230px;
}

.header-background{
    background: linear-gradient(rgba(204, 237, 255, 0.5), rgb(204, 255, 255, 0.2)), url('../../assets/img/header-img.jpg'), no-repeat;
    /* background-image: url('../../assets/img/header-img.jpg'); */
}

.header-row{
    width: 75%;
    background-color: aquamarine;
    margin: 4% 12%;
    padding: 10px;
}


.list-group-item{
    background-color: transparent;
    border: none;
}