
    <div class="row" style="margin-top:75px">
        <div class="col-md-12 header-background">

            <div class="row header-row">
                <div class="col-md-3 text-center">
                    <img src="../../assets/img/sanjay.jpg" alt="" class="img-fluid rounded-circle image">
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="profile-name">Sanjay Sai</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group portfolio-items">
                                <li class="list-group-item">Full Stack Developer</li>
                                <li class="list-group-item">New York, NY</li>
                            </ul>
                        
                        </div>
                        <div class="col-md-6">
                                <ul class="list-group portfolio-items">
                                        <li class="list-group-item">jaysanias@gmail.com</li>
                                        <li class="list-group-item">347-284-9450</li>
                                </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <ul class="list-group portfolio-items">
                        <li class="list-group-item"><i class="fab fa-github"></i><span class="social-name">GITHUB</span></li>
                        <li class="list-group-item"><i class="fab fa-linkedin"></i><span class="social-name">LINKEDIN</span></li>
                        <li class="list-group-item"><i class="fab fa-medium"></i><span class="social-name">MEDIUM</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
