
<div class="row footer footer-container">
  <!--hobbies column start-->
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-12 footer-header text-center"><h5>Things I like to do when I am not coding</h5></div>
    </div>

      <div class="row hobbies">
          <div class="col col-sm-4 text-center">
              <img class="img-responsive" src="../../assets/img/hobbies/tour.jpeg" width="100%" height="80px" alt="city tour">
          </div>

          <div class="col col-sm-4">
              <img class="img-responsive" src="../../assets/img/hobbies/family.png" width="100%" height="80px" alt="walking">
          </div>

          <div class="col col-sm-4">
            <img class="img-responsive" src="../../assets/img/hobbies/workout.jpeg" width="100%" height="80px" alt="workout">
          </div>
      </div>
      
      <div class="row hobbies">
          <div class="col col-sm-4">
              <img class="img-responsive" src="../../assets/img/hobbies/cook.png" width="100%" height="80px" alt="walking">
          </div>

          <div class="col col-sm-4">
            <img class="img-responsive" src="../../assets/img/hobbies/biking.jpeg" width="100%" height="80px" alt="biking">
          </div>

          <div class="col col-sm-4">
              <img class="img-responsive" src="../../assets/img/hobbies/watchtv.png" width="100%" height="80px" alt="watching tv">
          </div>
      </div>

    </div>
    
  <!--hobbies column end-->

  <!--footer center part-->
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-12 footer-header text-center">
        <h5>Contact Me</h5>
      </div>
    </div>

    <div class="contact">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h5>Sanjay Sai</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h5>Text Me: 347-736-8068</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
         <a href="mailto:jaysanias@gmail.com" class="btn btn-primary email"> <i class="far fa-envelope"></i><span>Send Email</span></a>
      </div>
    </div>
    </div>

  </div>

 
  <!--footer center part end-->

  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-12 footer-header text-center">
        <h5>Interested areas</h5>
      </div>
    </div>

    <div class="row int-area">
      <div class="col-sm-4">
        <span>Domains</span>
        <div class="row interest">
          <div class="col-sm-12">
            Retail
          </div>
          <div class="col-sm-12">
            E-commerce
          </div>
          <div class="col-sm-12">
              Social, Health
            </div>

        </div>
      </div>

      <div class="col-sm-4">
          <span>Skills</span>
        <div class="row interest">
          <div class="col-sm-12">
            Machine Learning
          </div>
          <div class="col-sm-12">
            Python
          </div>
          <div class="col-sm-12">
            Angular
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <span>Positions</span>
        <div class="row interest">
          <div class="col-sm-12">
            Front End Developer
          </div>
          <div class="col-sm-12">
              UI/UX Designer
          </div>
          <div class="col-sm-12">
              Full Stack Developer
          </div>
        </div>
      </div>
  </div>
</div>
</div>