.about, .experience, .education{
    margin-bottom: 1.5em;
    background-color: white;
    box-shadow:10px 10px 30px grey;  
}

.about-heading{
    height: 35px;
    background-color: gold;
    color: black;
    padding: 10px;
}

.experience-heading{
    padding: 10px;
    height: 35px;
    background-color: gold;
    color: black;
}

.education-heading{
    padding: 10px;
    height: 35px;
    background-color: gold;
    color: black;
}

.about-detail{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: bisque;
}
.experience-detail{
    padding-top: 15px;
    margin-left: 0.4px;
    margin-right: 0.4px;
    padding-left: 5px;
    background-color: lightgreen;
}

.experience-detail .list-group-item{
    background-color: lightgreen;
    border: none;
}

.education-detail{
    padding-top: 15px;
    margin-left: 0.4px;
    margin-right: 0.4px;
    padding-left: 5px;
    background-color: lightyellow;
}

.col-edu{
    border-right: 1px ridge silver;
}

.col-exp{
    border-right: 1px ridge silver;
}



.education-detail .list-group-item{
    background-color: lightyellow;
    border: none;

}



