.projects{
    margin-bottom: 30px;
    background-color: lightblue;
    padding:10px;
}

.project{
    margin-bottom: 20px;
}

.project-heading{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    height: 35px;
    margin-bottom: 10px;
    background-color: gold;
    padding: 10px;
}

.project-link{
    margin-left: 10px;
    margin-right: 15px;
}

.skill-body{
    background-color: white;
    padding: 5px 10px;
}

.logo{
    margin: 10px 5px;
}

.skill-heading{
    background-color: gold;
    padding: 5px 10px;
}