.projects{
    margin-bottom: 20px;
    background-color: lightblue;
    padding:10px;
}

.project{
    margin-bottom: 20px;
}


.project-link{
    margin-left: 5px;
}

.skills{
    background-color: white;
}