  <div class="row projects">
    <div class="col-xs-12">
      <div class="project-heading"><h5>THINGS I HAVE BUILT</h5></div>
      <div class="project">
        <img src="../../assets/img/auto-schedule.png" alt="auto schedule" class="img-fluid rounded">
        <h5 class="text-center">Auto Generate Employee shifts</h5>
        <p>App that will auto generate weekly shifts for entire employees with a click of a button.</p>
        <div class="text-center">
          <a class="btn btn-primary project-link" href="https://auto-generate-employee-shifts.herokuapp.com/" target='_blank'>WEBSITE</a>
          <a class="btn btn-primary project-link" href="#"
              (click)="onClickDemo('auto-shift')">DEMO</a>
        </div>
      </div>
      
      <hr/>
      
      <div class="project">
        <img src="../../assets/img/book-conference-room.png" alt="book conf room" class="img-fluid rounded">
        <h5 class="text-center">Book Conference/Lecture Room</h5>
        <p>This app is primarily use for scheduling/booking conference room for lectures/events.</p>
        <div class="text-center">
          <a class="btn btn-primary project-link" href="https://book-conference-rooms.herokuapp.com/" target='_blank'>WEBSITE</a>
          <a class="btn btn-primary project-link" href="#"
              (click)="onClickDemo('book-conf')">DEMO</a>
          <!-- <a class="btn btn-primary project-link" href="https://www.youtube.com/watch?v=7ygbT22pV6c&feature=youtu.be" target='_blank'>DEMO</a> -->
        </div>
      </div>

      <hr/>
      
      <div class="project">
        <img src="../../assets/img/easy-source.png" alt="easy-source" class="img-fluid rounded">
        <h5 class="text-center">Easy Source </h5>
        <p>This app was built to bring wholesalers and buyers together. Wholesalers can upload products they are offering</p>
        <div class="text-center">
          <a class="btn btn-primary project-link" style="display:inline-block" href="https://easy-source.herokuapp.com/" target='_blank'>WEBSITE</a>
          <a class="btn btn-primary project-link" href="#"
              (click)="onClickDemo('easy-source')">DEMO</a>
          <!-- <a class="btn btn-primary project-link" href="https://www.youtube.com/watch?v=x1uVlIx_1HQ&feature=youtu.be" target='_blank'>DEMO</a> -->
      </div>
      </div>
    </div>
  </div>
  
  <div class="row skill-heading">
      <div class="col-xs-12">
          <h5>MY SKILLS</h5>
      </div>
  </div>

  
  <div class="row skill-container">
    <div class="row">
    <div class="col-xs-4">
      <img src="../../assets/img/logos/angular.png" alt="angular" class="img-fluid rounded-circle logo" width="100px" height="100px">
    </div>

    <div class="col-xs-4">
      <img src="../../assets/img/logos/rails.jpg" alt="rails" class="img-fluid rounded-circle logo" width="100px" height="100px">
    </div>

    <div class="col-xs-4">
      <img src="../../assets/img/logos/ruby.jpeg" alt="ruby" class="img-fluid rounded-circle logo" width="100px" height="100px">
    </div>
    </div>

    <div class="row">
      <div class="col-xs-4 text-center">
        <img src="../../assets/img/logos/js.jpg" alt="js" class="img-fluid rounded-circle logo" width="100px" height="100px">
      </div>

      <div class="col-xs-4">
        <img src="../../assets/img/logos/react.png" alt="react" class="img-fluid rounded-circle logo" width="100px" height="100px">
      </div> 
      
      <div class="col-xs-4">
        <img src="../../assets/img/logos/redux.png" alt="redux" class="img-fluid rounded-circle logo" width="100px" height="100px">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <img src="../../assets/img/logos/html.png" alt="html" class="img-fluid rounded-circle logo" width="100px" height="100px">
      </div>
      <div class="col-xs-4">
        <img src="../../assets/img/logos/postgres.png" alt="postgres" class="img-fluid rounded-circle logo" width="100px" height="100px">
      </div>
    </div>
  
  </div>
        
  